{% extends 'base.html' %}
{% block content %}
<form action="" method="post" id="form1">
{% csrf_token %}
{{form.as_p}}
</form>
<button type="submit" form="form1" value="Submit" class="btn btn-dark">Submit</button>
{{context}}

 {% for obj in ob_to %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Object</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">{{obj.id}}</th>
      <td>{{obj.do_it}}</td>
      <td><a href="{% url 'update' obj.id %}" class="btn btn-dark">Update</a></td>
        <td><a href="{% url 'delete' obj.id %}" class="btn btn-dark">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>
{% endfor %}

{% endblock %}